.login {
    height: 100%;
    margin: auto;
    margin-right: 422px;
}
.login_info ul, .login_info ul li {
    display: block;
    clear: left;
}
.login_info {
    font-size: 14px;
    font-weight: normal;
    clear: both;
    display: block;
}
.login_info h1 {
    font-size: 18px;
    clear: left;
    padding-top: 20px;
    padding-left: 25px;
}
.login_info h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.login_info h3 {
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding-top: 5px;
}
.login_info h3 span {
    padding-left: 25px;
}
.login_info ul {
    margin-top: 40px;
}
.login_info ul li {
    padding: 20px;
    padding-left: 30px;
}
.login_info ul li img {
    float: left;
    padding-right: 10px;
}
.img_logo {
    float: left;
    padding: 30px;}
.box_login {
    width: 372px;
    height: 372px;
    background-image:url(../img/bg_login.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    margin-right: -372px;
    font-size: 12px;}
.box_form {
    width: 346px;
    height: 346px;
    padding: 11px;
}
.box_form h1{
    font-size: 14px;
    color: #0090EB;
    text-align: right;
    margin: 35px 20px 15px 20px;
}
.box_form h2 {
    font-weight: normal;
    text-align: center;
    margin: 0px 20px;
    text-align: right;}
.box_form form {
    margin: 0px 20px;
}
.box_form fieldset {
    padding-top: 50px;
}
.box_form fieldset label {
    width: 60px;
    height: 35px;
    float: left;
    clear: left;}
.box_form fieldset input {
    float: left;
    width: 230px;
    height: 15px;
    padding: 5px;
    border: 1px solid #DEDEDE;}
.userlogon{
    font-weight: bold; 
}
.box_form h3 a:hover {
    text-decoration: underline;}
.box_form h3 a {
    font-size: 12px;
    color: #000;
    font-weight: normal;
}
.box_form span {
    clear: both;
    padding: 20px;
    padding-left: 50px;
    margin-bottom: 30px;
    display: block;}
.box_form p {
    padding: 3px 20px;
}
.alerting {
    padding: 20px;
    text-align: center;
    margin-top: 70px;}
